* {
  margin: 0;
  padding: 0;
}

.user {
  width: 70vw;
  margin: 50px auto;
}

.user__title {
  font-size: 32px;
  text-align: center;
  color: #2d4373;
  font-family: sans-serif;
  margin-bottom: 40px;
}

.user__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}



