.root {
  background: #3B5998;
  border: none;
  outline: unset;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 80px;
  right: 30px;
  filter: brightness(.8);
  cursor: pointer;

  &:hover {
    filter: brightness(1);
  }
}