.root {
  margin: 20px;

  .textWrapper {
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    word-wrap: break-word;
    overflow: hidden;
  }

  .textContainer {
    margin: 0;
  }
}