* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  width: fit-content;
  box-sizing: border-box;
  padding: 8px 12px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 36px;
  background: #3B5998;
  color: #fff;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;

  nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul {
    display: flex;
    list-style: none;
  }

  li {
    margin: 0 15px;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
  }
}

.header__title {
  font-size: 20px;
}

.header__user-container {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 15px;
  }
}

main {
  min-height: 100vh;
  margin-top: 60px;
}

.emails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 36px;

  h1 {
    margin: 35px 0 20px;
  }
}

.email__container {
  display: flex;
  width: 60%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 14px;
  margin: 20px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;

  &:hover {
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }

  span {
    font-size: 14px;
    color: grey;
  }

  h3 {
    font-size: 24px;
    margin: 10px 0 30px;
  }

  p {
    font-size: 16px;
    color: #20232a;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 36px;
  background: #3B5998;
  color: #fff;
  height: 60px;
  position: relative;
}

.footer__title {
  font-size: 20px;
  position: relative;
}

.footer__copyright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


