.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d4373;
  color: #FFF;
  padding: 0 24px;
  position: fixed;
  top: 0;
  z-index: 100;

  ul {
    list-style: none;
    display: flex;
    gap: 10px
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding: 10px;
    text-decoration: none;

    &:hover {
      color: #1ecaab;

      path {
        fill: #1ecaab;
      }
    }

    &.active {
      opacity: .5;
      cursor: default;
      pointer-events: none;

      &:hover {
        color: #FFF;
      }
    }
  }
}

.logo {
  font-size: 22px;
  line-height: 32px;
}


.cartContainer {
  position: relative;

  span {
    position: absolute;
    top: -0px;
    right: -15px;
   // background-color: #2d4373;
    font-size: 15px;


  
  }
}