.header {
  background: #2d4373;
  padding: 24px;

  nav {
    margin: 0 auto;
    display: flex;
    gap: 20px;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
