.productCard {
  border: 1px solid #ccc;
  padding: 20px 20px 75px;
  cursor: pointer;
  user-select: none;
  position: relative;

  img {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
  }

  .productName {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;

  }

  .productDescription {
    color: #777;
    margin-bottom: 10px;
  }

  .productPrice {
    color: darkgreen;
    font-weight: bold;
  }

  .svgWrapper {
    width: 32px;
    height: 32px;

    &:hover {
      cursor: pointer;

      svg, path {
        fill: #003cff;
      }
    }

    &.active {
      svg, path {
        fill: #ff2f78;
        cursor: default !important;
      }
    }
  }
}


//.svgWrapper {
//  width: 50px;
//  height: 50px;
//
//  &:hover {
//    cursor: pointer;
//
//    svg, path {
//      fill: #ff00b7;
//    }
//  }
//
//  &.active {
//    svg, path {
//      fill: #fff200;
//      cursor: default !important;
//    }
//  }
//}
//}



.addToCartBtn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #2d4373;
  color: white;
  padding: 8px 12px;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background: #1ecaab;
  }

 //` &:active {
 //   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
 // }`

}
