.btn {
  padding: 12px;
  font-size: 18px;
  background: #2d4373;
  color: #FFFFFF;
  border: 1px solid #2d4373;
  border-radius: 5px;

  &:hover {
    background: #FFFFFF;
    color: #2d4373;
  }
}
