.post {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 40px;
  padding-bottom: 30px;

}

.title {
  font-size: 32px;
  font-weight: 500;
  font-style: italic;
}

.body {
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
}

.svgWrapper {
  width: 32px;
  height: 32px;

  &:hover {
    cursor: pointer;

    svg, path {
        //fill: gold;
    }
  }

  &.active {
    svg, path {
        fill: #ff2f78;
        cursor: default !important; 
    }
  }
}