* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  margin-top: 70px;
}

h1, h2, h3 {
  text-align: center;
  margin: 30px 0 20px;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

button {
  padding: 6px 10px;
  min-width: 100px;
  font-size: 18px;
}

form {
  width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
