

.content {
    width: 300px;
    height: 100px;
    z-index: 1;
    background: white;
    padding: 40px;
    border: 3px solid #242424;

}

.modalWindow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}