.root {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.input {
  min-width: 60% !important;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  line-height: 28px;
}

.btn {
  margin-left: 30px !important;
  box-sizing: border-box;
  padding: 6px 12px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin: 40px 0;
}