* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  margin-top: 130px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}
