.item {
  border: .5px solid #ccc;
  padding: 20px 20px 75px;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;


  gap: 20px;
  align-items: center;
  width: 700px;

  img {
    width: 100px;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
  }

  .productName {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;

  }


  .productPrice {
    color: darkgreen;
    font-weight: bold;
  }

  .count {
    font-weight: 700;
  }

  button {
    background: rgba(253, 253, 253, 0.42);
    padding: 10px;
    font-size: 25px;
  }
}

