
.root {
    background-color: rgb(255, 255, 255);
    border: black 2px solid;

    :global {
        .css-art2ul-ValueContainer2 {
               background-color: red;
               font-size: 35px;

        .css-1dimb5e-singleValue{
                color:  #fff200;
            }
        }
    }
}
