.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d4373;
  color: #FFF;
  padding: 0 24px;
  font-size: 35px;


  ul {
    display: flex;
    list-style: none;
   ;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding: 10px;
    text-decoration: none;

    &.active {
      opacity: .5;
      cursor: default;
      pointer-events: none;
    }
  }
}

.logo {
  font-size: 35px;
  line-height: 32px;
}
