
.card {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 5px;
    }

    p {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
    }
}