* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  text-align: center;
  width: 100%;
  margin: 15px 0 30px;
}
