.card {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    gap: 20px;
    user-select: none;
}

.title {
    font-family: sans-serif;
    margin-bottom: 10px;
}

.description {
    color: grey;
    margin-bottom: 20px;
}

.hobbies {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hobbiesList {
    color: #2d4373;
    font-family: sans-serif;
    padding: 4px;
    border: 1px solid #2d4373;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background: #3B599844;
    }
}