* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 50px;
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
}