.root {
    position: relative;
}

.selectContainer {
    padding: 10px;
    font-size: 18px;
    border: 1px solid gray;
    background: #7bff00;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid gray;
}

.option {
    padding: 5px;

    &.active {
        background-color: aquamarine;
    }
}
