
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  position: relative;
}

.imgContainer {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.price {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: grey;
}

.description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: grey;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.btn {
  width: 25px;
  height: 25px;
  background-color: unset;
  border: none;
  cursor: pointer;


  svg {
    fill: grey;
    transition: .2s ease;
  }

  &.cartBtn:hover svg {
    fill: #ff0099;
  }

  &.favouriteBtn:hover svg {
    fill: rgba(98, 101, 98, 0.99);
  }
}

.favouriteBtn.isFavourite {
  svg {
    fill: rgb(255, 0, 153);
  }
}

