* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  margin-top: 70px;
}

h1 {
  text-align: center;
  margin: 30px 0 20px;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

form {
  width: 400px;

  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 10px ;
  border: black 2px solid;
  padding: 20px;
}
input{
  font-size: 20px;
  border: black 2px solid;
}

button{
  font-size: 20px;
  border: black 2px solid;
}