.App {
  text-align: center;
  box-sizing: border-box;
  padding: 24px;
  font-family: sans-serif;

  button {
    box-sizing: border-box;
    padding: 6px 10px;
    font-size: 18px;
    margin: 5px 0 20px;
    border-radius: 5px;
  }


  .container {
    border-radius: 5px;
    border: 1px solid plum;
    box-sizing: border-box;
    padding: 36px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
  }

  input {
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 5px;
  }

  .error {
    font-size: 14px;
    color: red;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    line-height: 14px;
    min-height: 14px;
  }
}
