

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px
}

.iconWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
