.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.background {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.content {
  min-width: 400px;
  padding: 32px;
  background: white;
  position: relative;
  z-index: 2;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 20px;
}

