
.root {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000BB;
    z-index: 1;
}

.contentContainer {
    padding: 40px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}