.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d4373;
  color: #FFF;
  padding: 0 24px;

  ul {
    list-style: none;
  }

  a {
    color: #FFF;
    padding: 10px;
    text-decoration: none;

    &.active {
      //opacity: .5;
      cursor: default;
      pointer-events: none;
      color: #ff0099;
    }
  }
}

.logo {
  font-size: 22px;
  line-height: 32px;
}
